<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Index Page</title>
</head>
<body>
<form th:action="@{/editar}" th:object="${paciente}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" ></input></td>
        </tr>
        <tr>
            <td><label>Apellido</label></td>
            <td><input type="text" th:field="*{apellido}"></input></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}"></input></td>
        </tr>
        <tr>
            <td><label>Calle</label></td>
            <td><input type="text" th:field="*{domicilio.calle}"></input></td>
            <td><label>Numero
            </label></td>
            <td><input type="text" th:field="*{domicilio.numero}"></input></td>
        </tr>
        <tr>
            <td><label>Localidad</label></td>
            <td><input type="text" th:field="*{domicilio.localidad}"></input></td>
            <td><label>Provincia</label></td>
            <td><input type="text" th:field="*{domicilio.provincia}"></input></td>
        </tr>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{domicilio.id}"/>
           <tr>
            <td></td>
            <td><input type="submit" value="Submit"/></td>
        </tr>

    </table>
</form>
</body>
</html>
